@import url("components/containeur.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body{
  font-family: Bradley Hand ITC;
  font-size: 18px;
}

h1, h2, h3{
  font-family: Bradley Hand ITC; 
  font-weight: bold;
}
 
a {
  text-decoration: none;
}

